<template>
  <v-menu offset-y>
    <template v-slot:activator="{ on }">
      <v-btn v-on="on" text :class="[btnClass]">
        <v-icon>{{ icon }}</v-icon>
        &nbsp;{{ text }}
      </v-btn>
    </template>
    <v-list>
      <v-list-item
        v-for="(item, index) in items"
        :key="index"
        :to="{ name: item.link }"
        exact
        :class="[item.class]"
      >
        <v-list-item-icon class="mr-2">
          <v-icon>{{ item.icon }}</v-icon>
        </v-list-item-icon>
        <v-list-item-title>{{ item.title }}</v-list-item-title>
      </v-list-item>
    </v-list>
  </v-menu>
</template>

<script>
export default {
  name: 'DropDown',
  props: {
    btnClass: String,
    icon: String,
    text: String,
    items: Array
  },
  methods: {}
}
</script>
