<template>
  <v-container fluid>
    <v-row>
      <Heading :title="$t('myProfile.TITLE')" />
      <v-col cols="12" xs="12" md="8" offset-md="2">
        <v-dialog v-model="dialog" max-width="400px">
          <template v-slot:activator="{ on }">
            <v-col text-xs-center>
              <v-btn
                small
                text
                v-on="on"
                color="secondary"
                @click="triggerChangePassword = true"
                class="btnChangePassword"
                >{{ $t('myProfile.CHANGE_MY_PASSWORD') }}</v-btn
              >
            </v-col>
          </template>
          <v-card>
            <ValidationObserver v-slot="{ handleSubmit }">
              <form @submit.prevent="handleSubmit(save)">
                <v-card-title>
                  <span class="headline">
                    {{ $t('myProfile.CHANGE_MY_PASSWORD') }}
                  </span>
                </v-card-title>
                <v-card-text>
                  <v-container grid-list-md>
                    <v-row wrap>
                      <template v-if="triggerChangePassword">
                        <v-col xs12>
                          <ValidationProvider
                            rules="required|min:5"
                            v-slot="{ errors }"
                          >
                            <v-text-field
                              id="oldPassword"
                              name="oldPassword"
                              type="password"
                              :label="$t('myProfile.CURRENT_PASSWORD')"
                              v-model="oldPassword"
                              :error="errors.length > 0"
                              :error-messages="errors[0]"
                              key="oldPassword"
                              autocomplete="off"
                            ></v-text-field>
                          </ValidationProvider>
                        </v-col>
                        <v-col xs12>
                          <ValidationProvider
                            rules="required|min:5"
                            v-slot="{ errors }"
                            vid="newPassword"
                          >
                            <v-text-field
                              id="newPassword"
                              name="newPassword"
                              type="password"
                              :label="$t('myProfile.NEW_PASSWORD')"
                              v-model="newPassword"
                              :error="errors.length > 0"
                              :error-messages="errors[0]"
                              key="newPassword"
                              ref="password"
                              autocomplete="off"
                            ></v-text-field>
                          </ValidationProvider>
                        </v-col>
                        <v-col xs12>
                          <ValidationProvider
                            rules="required|min:5|confirmed:newPassword"
                            v-slot="{ errors }"
                          >
                            <v-text-field
                              id="confirmPassword"
                              name="confirmPassword"
                              type="password"
                              :label="$t('myProfile.CONFIRM_NEW_PASSWORD')"
                              v-model="confirmPassword"
                              :error="errors.length > 0"
                              :error-messages="errors[0]"
                              key="confirmPassword"
                              autocomplete="off"
                            ></v-text-field>
                          </ValidationProvider>
                        </v-col>
                      </template>
                    </v-row>
                  </v-container>
                </v-card-text>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="red lighten3" text @click="close">
                    {{ $t('dataTable.CANCEL') }}
                  </v-btn>
                  <SubmitButton
                    id="updatePassword"
                    text
                    :buttonText="$t('dataTable.SAVE')"
                    color="green"
                  />
                </v-card-actions>
              </form>
            </ValidationObserver>
          </v-card>
        </v-dialog>
        <ValidationObserver v-slot="{ handleSubmit }">
          <form @submit.prevent="handleSubmit(submit)">
            <v-container grid-list-md>
              <v-row wrap>
                <v-col cols="12" xs="12" md="4">
                  <ValidationProvider
                    rules="required|email"
                    v-slot="{ errors }"
                  >
                    <v-text-field
                      id="email"
                      name="email"
                      type="email"
                      :label="$t('myProfile.EMAIL')"
                      v-model="email"
                      :error="errors.length > 0"
                      :error-messages="errors[0]"
                      disabled
                      autocomplete="off"
                    ></v-text-field>
                  </ValidationProvider>
                </v-col>
                <v-col cols="12" xs="12" md="4">
                  <ValidationProvider rules="required" v-slot="{ errors }">
                    <v-text-field
                      id="firstName"
                      name="firstName"
                      type="text"
                      :label="$t('myProfile.FIRSTNAME')"
                      v-model="firstName"
                      :error="errors.length > 0"
                      :error-messages="errors[0]"
                      autocomplete="off"
                    ></v-text-field>
                  </ValidationProvider>
                </v-col>
                <v-col cols="12" xs="12" md="4">
                  <ValidationProvider rules="required" v-slot="{ errors }">
                    <v-text-field
                      id="lastName"
                      name="lastName"
                      type="text"
                      :label="$t('myProfile.LASTNAME')"
                      v-model="lastName"
                      :error="errors.length > 0"
                      :error-messages="errors[0]"
                      autocomplete="off"
                    ></v-text-field>
                  </ValidationProvider>
                </v-col>
                <v-col cols="12" xs="12" md="4">
                  <ValidationProvider rules="required" v-slot="{ errors }">
                    <v-text-field
                      id="phone"
                      name="phone"
                      type="tel"
                      :label="$t('myProfile.PHONE')"
                      clear-icon="mdi-close"
                      clearable
                      v-model="phone"
                      :error="errors.length > 0"
                      :error-messages="errors[0]"
                      autocomplete="off"
                    ></v-text-field>
                  </ValidationProvider>
                </v-col>
              </v-row>
              <v-row>
                <v-col text-xs-center mt-5>
                  <SubmitButton
                    :buttonText="$t('myProfile.SAVE')"
                    customClass="btnSave"
                  />
                </v-col>
              </v-row>
            </v-container>
          </form>
        </ValidationObserver>
        <ErrorMessage />
        <SuccessMessage />

        <template>
          <CardList
            :cardTitle="$t('myProfile.ACTIVITIES')"
            v-model="activities"
            :items="activities"
            @notDisplay="hideItemActivity"
          />
        </template>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  metaInfo() {
    return {
      title: this.$store.getters.appTitle,
      titleTemplate: `${this.$t('myProfile.TITLE')} - %s`
    }
  },
  data() {
    return {
      dialog: false,
      triggerChangePassword: false,
      oldPassword: '',
      newPassword: '',
      confirmPassword: '',
      searchInput: ''
    }
  },
  computed: {
    lastName: {
      get() {
        return this.$store.state.profile.profile.lastName
      },
      set(value) {
        const data = {
          key: 'lastName',
          value
        }
        this.addProfileData(data)
      }
    },
    firstName: {
      get() {
        return this.$store.state.profile.profile.firstName
      },
      set(value) {
        const data = {
          key: 'firstName',
          value
        }
        this.addProfileData(data)
      }
    },
    email() {
      return this.$store.state.profile.profile.email
    },
    phone: {
      get() {
        return this.$store.state.profile.profile.phone
      },
      set(value) {
        const data = {
          key: 'phone',
          value
        }
        this.addProfileData(data)
      }
    },
    activities() {
      const activities = this.$store.state.profile.activities
      // Map activities array to CardList vue
      return activities.map((item) => ({
        title: this.$t(`myProfile.${item.type.toUpperCase()}`),
        subtitle: `<b>${this.$t('myProfile.IP')}</b>: ${item.ip} <br> 
        <b>${this.$t('myProfile.BROWSER')}</b>: ${item.browser} <br>
        <b>${this.$t('myProfile.COUNTRY')}</b>: ${item.country}`,
        icon: 'mdi-trash-can',
        id: item.id,
        display: item.display,
        type: item.type.toUpperCase() === 'USERACCESS' ? 1 : 2
      }))
    }
  },
  methods: {
    ...mapActions([
      'changeMyPassword',
      'getProfile',
      'addProfileData',
      'saveProfile',
      'getActivities',
      'notDisplayUserActivity'
    ]),
    async hideItemActivity(id, type) {
      const data = { id, type }
      await this.notDisplayUserActivity(data)
    },
    async submit() {
      await this.saveProfile({
        firstName: this.firstName,
        lastName: this.lastName,
        phone: this.phone
      })
    },
    close() {
      this.triggerChangePassword = false
      this.dialog = false
    },
    async save() {
      try {
        await this.changeMyPassword({
          oldPassword: this.oldPassword,
          newPassword: this.newPassword
        })
        this.oldPassword = ''
        this.newPassword = ''
        this.confirmPassword = ''
        this.triggerChangePassword = false
        this.close()
        return
        // eslint-disable-next-line no-unused-vars
      } catch (error) {
        this.oldPassword = ''
        this.newPassword = ''
        this.confirmPassword = ''
        this.triggerChangePassword = false
        this.close()
      }
    }
  },
  async mounted() {
    await this.getProfile()
    await this.getActivities()
  }
}
</script>
