<template>
  <v-footer height="60" class="d-block text-center">
    <div>
      v{{ appVersion }} - 20210728GilbertLinyonTest
      <v-icon small class="red--text mx-0 px-0">mdi-cards-heart</v-icon>
    </div>
  </v-footer>
</template>

<script>
export default {
  name: 'Footer',
  computed: {
    appVersion() {
      return this.$store.getters.appVersion
    }
  }
}
</script>
