<template>
  <v-card class="text-left">
    <v-card-title>{{ cardTitle ? cardTitle : 'CardTitle' }}</v-card-title>
    <template v-for="(item, index) in items">
      <v-list v-if="item.display" :key="item.id">
        <v-list-item>
          <v-list-item-content>
            <v-list-item-title v-text="item.title"></v-list-item-title>

            <v-list-item-subtitle v-if="item.subtitle" v-html="item.subtitle">
            </v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-action v-if="item.icon">
            <v-btn
              @click="itemAction($event)"
              v-bind:id="item.id"
              v-bind:data-type="item.type"
              icon
            >
              <v-icon color="red">{{ item.icon }}</v-icon>
            </v-btn>
          </v-list-item-action>
        </v-list-item>
      </v-list>

      <v-divider
        v-if="index < items.length - 1 && items[index].display"
        :key="index"
      ></v-divider>
    </template>
  </v-card>
</template>

<script>
/**
 * @param String title -- card title
 * @param Array list -- { { list-title : 'Title', item-subtitle: 'Subtitle' }, {divider: true, inset: true} }
 */
export default {
  name: 'CardList',
  props: {
    cardTitle: String,
    items: Array
  },
  methods: {
    itemAction(e) {
      this.$emit('notDisplay', e.currentTarget.id, e.currentTarget.dataset.type)
    }
  }
}
</script>
