<template>
  <v-list-group :prepend-icon="[icon]" no-action>
    <v-list-item slot="activator" class="pl-0">
      <v-list-item-content>{{ text }}</v-list-item-content>
    </v-list-item>
    <v-list-item
      v-for="(item, index) in items"
      :key="index"
      :to="{ name: item.link }"
      exact
    >
      <v-list-item-icon>
        <v-icon>{{ item.icon }}</v-icon>
      </v-list-item-icon>
      <v-list-item-title>{{ item.title }}</v-list-item-title>
    </v-list-item>
  </v-list-group>
</template>

<script>
export default {
  name: 'DropDown',
  props: {
    icon: String,
    text: String,
    items: Array
  },
  methods: {}
}
</script>
